@import url(./__grid/popup__grid.css);
@import url(./__grid/_view/popup__grid_view.css);
@import url(./__fieldset/popup__fieldset.css);
@import url(./__title/popup__title.css);
@import url(./__close/popup__close.css);
@import url(./__conteiner/popup__conteiner.css);
@import url(./__conteiner/_view/popup__conteiner_view.css);
@import url(./__input/popup__input.css);
@import url(./__input/_second/popup__input_second.css);
@import url(./__save/popup__save.css);
@import url(./__image-conteiner/popup__image-conteiner.css);
@import url(./__image/popup__image.css);
@import url(./__caption/popup__caption.css);


.popup {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .6);
  width: 100%;
  height: 100vh;
  font-family: 'Inter', 'Arial', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  font-style: normal;
  /*display: none;*/
  visibility: hidden;
  opacity: 0;
  transition:opacity 1s linear;
  z-index: 1;

}
