.popup__grid_view {
  margin: auto;
  vertical-align: middle;
  top: auto;
  left: auto;
}

@media screen and (max-width: 639px)  {
  .popup__grid_view {
    margin: auto;
    vertical-align: middle;
    top: auto;
    left: auto;
    max-width: inherit;
  }
}
