.popup__grid {
  position: fixed;
  display: grid;
  width: 477px;
  height: 377px;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  top: 130px;
  left: calc(50% - 477px/2);
}


@media screen and (max-width: 639px)  {
  .popup__grid {
    top: 260px;
    max-width: 290px;
    left: calc(50% - 290px/2);
  }
}
